<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<!--my header-->
<head th:replace="common/header::common-header"></head>
<body id="home">
<div class="container-fluid">
    <div th:replace="common/navbar::langue"></div>
    <!-- my navbar-->
    <div class="container-fluid" th:replace="common/navbar::navbar"></div>

    <!-- log image-->
    <div class="row" style="vertical-align: center;">
        <div class="col-md-4 offset-md-8 text-center" style="z-index: 1">
            <img src="/imgs/medecin_photos.jpg" style="height: 200px; width: 75%; margin-top: 35px">
        </div>
    </div>
    <!--separation line with the title-->
    <div class="row" style="margin-top: -150px; z-index: -1">
        <div class="col-md-12 separation" style="margin-top: 50px">
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-4 offset-md-3 offset-sm-4 separation text-center"
             style="margin-top: -40px; color: #0b2e13; background-color: #80bdff;padding-top: 10px">
            <span th:text="${#strings.toUpperCase(client.getUsername())}" style="color: darkred; font-weight: bolder"></span>
        </div>
    </div>
    <!--back image title-->
    <div class="row" style="z-index: -2; margin-top: -125px">
        <img src="/imgs/backs.jpg" style="width: 100%; height: 200px;">
    </div>
    <div class="mt-1">
        <div class="row">
            <div class="col-md-12 alert alert-danger" th:if="${errorConfirm}">
                <span th:text="" style="color: darkred; font-weight: bolder"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-white-50">
                    <div class="card-body">
                        <h3 th:text="#{checkout.mntapayer}">Montant à payer</h3>
                        <div class="row">
                            <div class="col-md-7 text-left" th:text="#{shoppingCart.total}">
                                Prix Total :
                            </div>
                            <div class="col-md-5 text-right text-white bg-info">
                                <span th:text="${rvs.size() * T(Integer).parseInt(@environment.getProperty('priceRv'))}"></span> FCFA
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <span th:text="#{checkout.title.confirmsoumission}">Vous devriez confirmer votre soumission dans la carte de rendez-vous</span>
                    </div>
                </div>
            </div>
            <!--checkout info-->
            <div class="col-md-8">
                <div class="card-group row" id="accordion">
                    <!--shipping address-->
                    <div class="col-md-12">
                        <div class="row">
                            <div class="card bg-white-50 col-md-12">
                                <div class="card-header color-green-card">
                                    <h5 class="card-title">
                                        <a class="text-warning" data-toggle="collapse" href="#shippingInfo"
                                           aria-expanded="true" aria-controls="shippingInfo" th:text="#{checkout.title.accordeon.info}">
                                            1. Vos informations
                                        </a>
                                    </h5>
                                </div>
                                <div class="collapse" data-parent="#accordion" id="shippingInfo" th:classappend="${classActiveInfo}?'show'">
                                    <div class="card-body">
                                        <table class="table">
                                            <tr>
                                                <td th:text="#{checkout.title.accordeon.title.completName}">Noms et prenoms</td>
                                                <td th:text="${client.getAllName()}"></td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td th:text="${client.getEmail()}"></td>
                                            </tr>
                                            <tr>
                                                <td th:text="#{checkout.title.accordeon.title.tel}">Telephone</td>
                                                <td th:text="${client.getPhone()}"></td>
                                            </tr>
                                        </table>
                                        <div class="text-center">
                                            <a class="btn btn-info" th:href="@{myProfile}">
                                               <span th:text="#{checkout.title.accordeon.modifier}">Modifier</span>
                                            </a>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#accordion"
                                           class="btn btn-secondary pull-right" href="#rvInfo">
                                            <span th:text="#{checkout.title.accordeon.suivant}">
                                                Suivant
                                            </span>
                                             <span class="fa fa-arrow-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!--payment info-->
                            <div class="card bg-white-50 col-md-12">
                                <div class="card-header color-green-card">
                                    <h5 class="card-title">
                                        <a class="text-warning" data-toggle="collapse" href="#rvInfo"
                                           aria-expanded="true" aria-controls="rvInfo" th:text="#{checkout.title.accordeon.cartrv}">
                                            2. Carte de rendez-vous
                                        </a>
                                    </h5>
                                </div>
                                <div class="collapse" id="rvInfo" data-parent="#accordion"
                                     th:classappend="${classActiveRv}?'show'">
                                    <div class="card-body">
                                        <div class="mb-4">
                                            <h4 class="text-center" th:text="#{checkout.title.accordeon.cartrv.title}">
                                                Vos rendez vous
                                            </h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"><h4 th:text="#{shoppingCart.tableTile.date}">Date</h4></div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-3"><h4 th:text="#{shoppingCart.tableTile.creneau}">Creneau</h4></div>
                                            <div class="col-md-3"><h4 th:text="#{shoppingCart.tableTile.domaine}">Domaine</h4></div>
                                            <div class="col-md-2"><h4 th:text="#{shoppingCart.tableTile.prix}">Prix</h4></div>
                                        </div>

                                        <!--separation line with the title-->
                                        <div class="row">
                                            <div class="col-md-12 separation">
                                                <hr/>
                                            </div>
                                        </div>

                                        <div class="row" th:each="rv:${rvs}">
                                            <div class="col-md-2">
                                                <h5 style="color: darkgreen; font-size: large" >
                                                    <span th:text="${#dates.format(rv.jour, 'dd M yyyy')}"></span>
                                                </h5>

                                            </div>
                                            <div class="col-md-3 offset-md-1">
                                                <h5 style="color: darkblue; font-size: large">
                                                    <span th:text="${rv.creneau.hdebut}+':'+${rv.creneau.mdebut}+' -- '+${rv.creneau.hfin}+':'+${rv.creneau.mfin}"></span>
                                                </h5>
                                            </div>

                                            <div class="col-md-3">
                                                <h5 style="color: darkblue; font-size: large">
                                                    <span th:text="#{${'specialite.property.'+rv.specialite.nom}}">
                                                        <span th:text="${rv.specialite.nom}"></span>
                                                    </span>
                                                </h5>
                                            </div>

                                            <div class="col-md-2">
                                                <h5 style="color: darkblue; font-size: large">
                                                    <span th:text="${@environment.getProperty('priceRv')}"></span>
                                                </h5>
                                            </div>
                                            <!--separation line with the title-->
                                            <div class="col-md-12">
                                                <hr style="height: 1px; background-color: black; color: black"/>
                                            </div>
                                        </div>
                                        <form th:action="@{/checkout}" method="post" >
                                            <button type="submit" class="btn btn-secondary btn-block">
                                                <span th:text="#{checkout.title.accordeon.cartrv.btnconfirm}">
                                                    Confirmer votre soumission
                                                </span>
                                            </button>
                                        </form>
                                        <p style="font-size: smaller">
                                            <span th:text="#{checkout.title.accordeon.cartrv.subtitleconfirm}">
                                                Après soumission, un mail vous sera envoyé pour vous donner un aperçu de vos réservations
                                            </span>

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="container-fluid">
        <!-- footer -->
        <div th:replace="common/header::myfooter"></div>
    </div>
</div>
<!--my scripts-->
<div th:replace="common/header::body-common-scripts"></div>
</body>
</html>