<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<!--my header-->
<head th:replace="common/header::common-header"></head>
<body id="home">
<div class="container-fluid">
    <div th:replace="common/navbar::langue"></div>
    <!-- my navbar-->
    <div class="container-fluid" th:replace="common/navbar::navbar"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xm-12 mt-4">
            <div class="row">
                <div class="col-md-3 text-center">
                    <img class="mb-2"
                         th:src="@{${@environment.getProperty('imageMedecin')}+'/'+${medecin.getId()}+'_'+${medecin.getNom()}+'_'+${medecin.getPrenom()}+'.png'}"
                          style="width: 200px; height: 200px">

                </div>
                <div class="col-md-8">
                    <div class="row color-title">
                        <h1 class="text-center col-md-12" th:text="${medecin.getCompleteName()}"></h1>

                    </div>
                    <div class="row">
                        <div class="col-md-6" id="property" style="margin-top: 10px;">
                            <p style="font-weight: bolder;font-size: 24px">
                                <strong th:text="#{detailMedecin.matricule}">Matricule: </strong> <span class="text-white" th:text="${medecin.getMatricule()}"></span>
                            </p>
                            <p style="font-weight: bolder;font-size: 24px">
                                <strong th:text="#{detailMedecin.tel}">Téléphone : </strong>  <span class="text-white" th:text="${medecin.getTelephone()}"></span>
                            </p>
                            <p style="font-weight: bolder;font-size: 24px">
                                <strong th:text="#{detailMedecin.ville}">Ville : </strong>  <span class="text-white" th:text="${medecin.getVille()}"></span>
                            </p>
                        </div>
                        <div class="col-md-6" style="margin-top: 10px">
                            <p style="font-weight: bolder;font-size: 24px">
                                <strong>Email : </strong>  <span class="text-white" th:text="${medecin.getEmail()}"></span>
                            </p>
                            <p style="font-weight: bolder;font-size: 24px">
                                <strong th:text="#{detailMedecin.datenaissance}">Date de naissance: </strong>  <span class="text-white" th:text="${#dates.format(medecin.getDateNaissance(),'dd/MM/yyyy')}"></span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 10px">
                            <hr/>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12" style="margin-top: 10px">
                            <h4>
                                <span><u>NB</u>: </span>
                                <span th:text="#{detailMedecin.nb.title}">Pour consulter l'agenda du médecin dans un domaine cliquez sur celui-ci.</span>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6 offset-md-3">
                            <h5 class="text-center">
                                <strong th:text="#{detailMedecin.specialise}">Spécialisé(e) en</strong>
                            </h5>
                            <div class="text-center">
                                <div>
                                    <div class="mb-2" th:each="s:${specialiteParticulieres}">
                                        <button class="btn btn-secondary text-warning" data-th-value="${s.getNom()}"
                                                onclick="event.preventDefault(); var id = $(this).attr('value');
                                                 document.getElementById(id).submit();" th:text="#{${'specialite.property.'+s.getNom()}}">domaine médical</button>

                                        <form th:id="${s.getNom()}" th:action="@{/medecin/scheduler}" method="get" class="form-inline">
                                            <input type="hidden" name="id" th:value="${medecin.getId()}">
                                            <input type="hidden" name="specialite" th:value="${s.getNom()}">
                                            <input type="hidden" name="jour" id="jour" th:value="${#dates.format(#dates.create(#dates.year(#dates.createNow()),#dates.month(#dates.createNow()),#dates.day(#dates.createNow())+1),'yyyy-MM-dd')}" class="form-control form-control-lg mr-2">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- footer -->
        <div th:replace="common/header::myfooter"></div>
    </div>
</div>
<!--my scripts-->
<div th:replace="common/header::body-common-scripts"></div>
</body>
</html>