<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{node_modules/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/style-mine.css}">
    <style>
        table{
            border-collapse: collapse;
        }

        table, th,td{
            border: black solid 1px;
        }
    </style>
</head>
<body>
<p>Dear <span th:text="${client.getUsername()}"></span>,</p>
<br>
<p>Merci d'avoir réserver un rendez-vous chez nous</p>
<h2>Votre carte de rendez-vous</h2>
<hr>
<table>
    <tr>
        <th th:text="#{shoppingCart.tableTile.date}">Date</th>
        <th th:text="#{shoppingCart.tableTile.creneau}">Creneau</th>
        <th th:text="#{shoppingCart.tableTile.domaine}">Domaine</th>
        <th th:text="#{shoppingCart.tableTile.prix}">Prix</th>
    </tr>
    <tr th:each="rv:${cartRvs}">
        <td>
            <span th:text="${#dates.format(rv.jour, 'dd M yyyy')}"></span>
        </td>
        <td>
            <span th:text="${rv.getCreneau().getCreneauAll()}"></span>
        </td>
        <td>
            <span th:text="#{${'specialite.property.'+rv.specialite.nom}}">
                <span th:text="${rv.specialite.nom}"></span>
            </span>
        </td>
        <td>
            <span>1500</span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <strong><span th:text="#{shoppingCart.total}">Total Price</span> (<span
                th:text="${#lists.size(cartRvs)}"></span> <span th:text="#{shoppingCart.items}">items</span>):</strong>
            <span style="color: darkblue;"><span th:text="${cartRvs.size() * 1500}"></span> FCFA</span>
        </td>
    </tr>
</table>
<!--separation line with the title-->
<div class="row">
    <div class="col-md-12 separation">
        <hr/>
    </div>
</div>
<p>Merci bien pour votre fidélité,</p>
<p>SANTIS. le garant de votre santé</p>
</body>
</html>