<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<!--my header-->
<head th:replace="common/header::common-header"></head>
<body id="home">

<a href="#" title="Haut de page" class="scrollup rounded"><span class="fa fa-arrow-up"></span></a>
<div class="container-fluid">
<!--    <div class="container-fluid" th:replace="common/navbar::langue"></div>-->

    <!-- my navbar-->
    <div class="container-fluid" th:replace="common/navbar::navbar"></div>
    <div class="row">
        <div class="col-md-12" id="page-medecin-title">
            <h1 class="text-center">
                <span th:text="#{organisationMedecin.title}">Emploi du temps du médecin</span> ( <span class="text-info" th:text="${medecin.nom}+' '+${medecin.prenom}"></span> )
            </h1>
        </div>
    </div>


    <!-- msg pour ajout de rv avt le temps -->
    <div class="row">
        <div class="col-md-12">
            <h6  class="alert text-center text-white-50" style="width: 100%;background-color: rgba(205,92,92,0.2)" th:if="${jourerror}">
               <i class="fa fa-close"></i> <span th:text="#{organisationMedecin.jourerror}">La date de votre rendez-vous doit dépasser celle d'aujourd'hui</span>
            </h6>
        </div>
    </div>

    <!-- rv déja dans le panier -->
    <div class="row">
        <div class="col-md-12">
            <h6  class="alert text-center text-white-50" style="width: 100%;background-color: rgba(205,92,92,0.2)" th:if="${rvincart}">
                <i class="fa fa-close"></i> <span th:text="#{organisationMedecin.rvincart}">Le rendez-vous est déjà dans votre panier</span>
            </h6>
        </div>
    </div>

    <!-- rv déja dans le panier -->
    <div class="row">
        <div class="col-md-12">
            <h6  class="alert text-center text-white-50" style="width: 100%;background-color: rgba(205,92,92,0.2)" th:if="${notmuchrvmedecinincart}">
                <i class="fa fa-close"></i>
                <span th:text="#{organisationMedecin.notmuchrvmedecinincart}">
                Vous ne pouvez pas prendre plusieurs rendez-vous le même jour chez un même médécin
                </span>
            </h6>
        </div>
    </div>

    <!-- msg pour succès d'ajout du rendez vous dans le panier -->
    <div class="row">
        <div class="col-md-12">
            <h6  class="alert alert-success text-center text-black-50" th:if="${addToCart}">
                <i class="fa fa-check"></i> <span th:text="#{organisationMedecin.addToCart}">Rendez-vous ajouté au panier</span>
            </h6>
        </div>
    </div>

    <!-- msg pour jour invalide-->
    <div class="row">
        <div class="col-md-12">
            <h6  class="alert text-center text-white-50" style="width: 100%;background-color: rgba(205,92,92,0.2)" th:if="${jourrepos}">
                <i class="fa fa-close"></i> <span th:text="#{organisationMedecin.jourrepos}">Désolé nous ne travaillons pas le weekend</span>
            </h6>
        </div>
    </div>

    <!-- emploi du temps du medecin-->
    <!--<div class="row" style="margin-top: 20px;">
        <div class="col-md-12" id="calendar-scheduler" style="height: 10%;">

        </div>
    </div>-->
    <div class="row mb-5 mt-1">
        <div class="col-md-6 offset-md-3">
            <form th:action="@{/medecin/scheduler}" method="get" class="form-inline">
                <input type="hidden" name="id" th:value="${medecin.getId()}">
                <input type="hidden" name="specialite" th:value="${specialite.getNom()}">
                <input type="date" th:value="${jour}" name="jour" id="jour" class="form-control form-control-lg mr-2">
                <button type="submit" class="btn btn-lg btn-primary"><span class="fa fa-search"></span>
                  <span th:text="#{organisationMedecin.consulter}">consulter</span>
                </button>
            </form>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <table class="table table-bordered">
                <tr>
                    <td class="center" colspan="2">
                        <h2 class="text-capitalize text-center text-warning" th:text="#{${'specialite.property.'+specialite.getNom()}}">specialite</h2>
                    </td>
                </tr>
                <tr>
                    <td class="center" colspan="2">
                       <h2 class="text-center" th:text="#{organisationMedecin.titlervlibre}">Prenez un rendez vous libre en ici</h2>
                    </td>
                </tr>
                <tr>
                    <td class="center" colspan="2">
                        <h4 class="text-center text-white">
                           <span th:text="${#dates.dayOfWeekName(jourDate)}" ></span>, <span th:text="${#dates.format(jourDate,'dd-MMM-yyyy')}" ></span>
                        </h4>
                    </td>
                </tr>
                <div >
                <tr th:each="ag:${agenda.getCreneauxMedecinJour()}">
                    <td th:text="${ag.getCreneau().getHdebut()}+' : '+${ag.getCreneau().getMdebut()}+' --- '+${ag.getCreneau().getHfin()}+' : '+${ag.getCreneau().getMfin()}"></td>
                    <td th:if="${ag.getRv() == null}">
                        <form th:action="@{/takeRvFromCart}" method="post">
                            <input type="hidden" th:value="${jour}" name="jour">
                            <input type="hidden" th:value="${#authentication.getName()}" name="nameClient">
                            <input type="hidden" th:value="${ag.getCreneau().getId()}" name="idCreneau">
                            <input type="hidden" th:value="${specialite.getNom()}" name="specialiteName">
                            <button type="submit" class="btn btn-info">
                              <span th:text="#{organisationMedecin.reserver}">Réserver</span>
                            </button>
                        </form>
                    </td>
                    <td th:if="${ag.getRv()!= null && ag.getRv().isAnnule() == true}">
                        <button type="button" disabled class="btn btn-light">
                            <span class="font-weight-bold" th:text="#{organisationMedecin.rvannule}">rendez-vous annulé</span>
                        </button>
                    </td>
                    <td th:if="${ag.getRv()!= null && ag.getRv().isAnnule() == false}">
                        <!--<form th:action="@{/reporterRv}" method="post" th:if="${ag.getRv().getClient().getUsername() == #authentication.getName()}">
                            <input type="hidden" th:value="${jour}" name="jour">
                            <input type="hidden" th:value="${#authentication.getName()}" name="nameClient">
                            <input type="hidden" th:value="${ag.getRv().getId()}" name="idRv">
                            <input type="hidden" th:value="${ag.getCreneau().getId()}" name="idCreneau">
                            <input type="hidden" th:value="${specialite.getNom()}" name="specialiteName">
                            <button type="submit" class="btn btn">
                              <span th:text="#{organisationMedecin.annulerRv}">Reporter</span>
                            </button>
                        </form>-->
                        <span th:text="#{organisationMedecin.yourRv}" class="badge-success">
                            rendez-vous pris par vous
                        </span>
                        <button type="button" disabled class="btn btn-warning" th:if="${ag.getRv().getClient().getUsername() != #authentication.getName()}">
                        <span th:text="#{organisationMedecin.dejaPris}">Déjà pris par un autre</span>
                        </button>
                    </td>
                </tr>
                </div>
            </table>
        </div>
    </div>
    <div class="container-fluid">
        <!-- footer -->
        <div th:replace="common/header::myfooter"></div>
    </div>
</div>
<!--my scripts-->
<div th:replace="common/header::body-common-scripts"></div>
</body>
</html>