<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--my header-->
<head th:replace="common/header::common-header"></head>
<body id="home">

<div class="container-fluid">
    <div th:replace="common/navbar::langue"></div>
    <!-- my navbar-->
    <div class="container-fluid" th:replace="common/navbar::navbar"></div>
    <!-- log image-->
    <div class="row" style="vertical-align: center;">
        <div class="col-md-4 offset-md-8 text-center" style="z-index: 1">
            <img src="/imgs/medecin_photos.jpg" style="height: 200px; width: 75%; margin-top: 35px">
        </div>
    </div>
    <!--separation line with the title-->
    <div class="row" style="margin-top: -150px; z-index: -1">
        <div class="col-md-12 separation" style="margin-top: 50px">
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-4 offset-md-3 offset-sm-4 separation text-center"
             style="margin-top: -40px; color: #0b2e13; background-color: #80bdff;padding-top: 10px" th:text="#{navbar.panier}">
           Mes rendez vous
        </div>
    </div>
    <!--back image title-->
    <div class="row" style="z-index: -2; margin-top: -135px">
        <img src="/imgs/backs.jpg" style="width: 100%; height: 200px;">
    </div>
    <div class="row" style="margin-top: 10px;" th:if="${rvadd}">
        <div class="col-md-12">
            <div  class="alert alert-success">
                <h4 class="text-center" th:text="#{shoppingCart.rvadd}">Réservation(s) placée(s) avec succès</h4>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;" th:if="${rvs.size()}<=0">
        <div class="col-md-12">
            <div  class="alert alert-warning">
                <h1 class="text-center" th:text="#{shoppingCart.panierVide}">Oops, votre panier est vide. veuillez prendre un ou des rendez-vous pour vous consulter.</h1>
                <h3 class="text-center">
                    <a th:href="@{/medecinRv}" th:text="#{shoppingCart.domaine}">Voir nos domaine de compétence</a>
                </h3>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;" th:if="${rvs.size()}>0">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 text-left">
                    <a class="btn btn-warning" th:href="@{/medecinRv}" >
                     <span class="fa fa-arrow-left"></span> <span th:text="#{shoppingCart.rv}"> Continuez à prendre des Rv</span>
                    </a>
                </div>
                <div class="col-md-6 text-right">
                    <form th:action="@{/checkout}" method="get">
                        <button class="btn btn-success" type="submit" th:href="@{/checkout}">
                            <span class="fa fa-check-circle"></span>  <span th:text="#{shoppingCart.checkout}">Check out</span>
                        </button>
                    </form>
                </div>
            </div>

            <br/><br/>
            <div class="row">
                <div class="col-md-4"><h4 th:text="#{shoppingCart.tableTile.date}">Date</h4></div>
                <div class="col-md-3"><h4 th:text="#{shoppingCart.tableTile.creneau}">Creneau</h4></div>
                <div class="col-md-3"><h4 th:text="#{shoppingCart.tableTile.domaine}">Domaine</h4></div>
                <div class="col-md-2"><h4 th:text="#{shoppingCart.tableTile.prix}">Prix</h4></div>
            </div>

            <!--separation line with the title-->
            <div class="row">
                <div class="col-md-12 separation">
                    <hr/>
                </div>
            </div>

            <div class="row" th:each="rv:${rvs}">
                <div class="col-md-2">
                    <h5 style="color: darkgreen; font-size: large" >
                        <span th:text="${#dates.format(rv.jour, 'dd M yyyy')}"></span>
                    </h5>

                </div>
                <div class="col-md-1">
                    <h5 style="color: darkgreen; font-size: large">
                        <form th:action="@{/removeRvFromCart}" method="post">
                            <input type="hidden" name="id" th:value="${rv.id}">
                            <button type="submit" class="btn btn-danger" th:text="#{shoppingCart.delete}">Delete</button>
                        </form>
                    </h5>

                </div>
                <div class="col-md-3 offset-md-1">
                    <h5 style="color: darkblue; font-size: large">
                        <span th:text="${rv.getCreneau().getCreneauAll()}"></span>
                    </h5>
                </div>

                <div class="col-md-3">
                    <h5 style="color: darkblue; font-size: large">
                        <span th:text="#{${'specialite.property.'+rv.specialite.nom}}">
                            <span th:text="${rv.specialite.nom}"></span>
                        </span>
                    </h5>
                </div>

                <div class="col-md-2">
                    <h5 style="color: darkblue; font-size: large">
                        <span th:text="${@environment.getProperty('priceRv')}"></span>
                    </h5>
                </div>
                <!--separation line with the title-->
                <div class="col-md-12">
                    <hr style="height: 1px; background-color: black; color: black"/>
                </div>

            </div>
            <div class="row">
                <hr/>
                <h4 class="col-md-12 text-right">
                    <strong style="font-size: large"><span th:text="#{shoppingCart.total}">Total Price</span> (<span
                            th:text="${#lists.size(rvs)}"></span> <span th:text="#{shoppingCart.items}">items</span>):</strong>
                    <span style="color: darkblue; font-size: large"><span th:text="${rvs.size() * T(Integer).parseInt(@environment.getProperty('priceRv'))}"></span> FCFA
                    </span>
                </h4>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- footer -->
        <div th:replace="common/header::myfooter"></div>
    </div>
</div>
<!--my scripts-->
<div th:replace="common/header::body-common-scripts"></div>
</body>
</html>